<!--Namespace da classe de Modelo para esta view-->
@model IEnumerable<RpgMvc.Models.ArmaViewModel>
<!--Inclua os TempData para Sucesso e Erro aqui, conforme exemplo na view de Autenticação-->
@{ViewBag.Title = "Armas"; }<!--Título da página para o navegador-->
<h2>Relação de Armas</h2><!--Título da página-->
<p> <!--Links apontando para views na mesma pasta-->
@Html.ActionLink("Criar Nova Arma", "CreateArma")
</p>
<table class="table">
<tr><!--Títulos das colunas da tabela-->
<th>@Html.DisplayNameFor(model => model.Id)</th>
<th>@Html.DisplayNameFor(model => model.Nome)</th>
<th></th>
</tr>
<!--Looping para escrever os dados na tabela-->
@foreach (var item in Model)
{
<tr>
<td>@Html.DisplayFor(modelItem => item.Id)</td>
<td>@Html.DisplayFor(modelItem => item.Nome)</td>
<td><!--Coluna para Links/botões-->
@Html.ActionLink("Editar", "EditArma", new { id = item.Id } ) |
@Html.ActionLink("Detalhes", "DetailsArma", new { id = item.Id }) |
@Html.ActionLink("Deletar", "DeleteArma", new { id = item.Id }
    , new { onclick = "return confirm('Deseja realmente deletar esta arma?');"}) |
</td>
</tr>
}
</table>